
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.gh-ribbon {
    top: 6.2em;
    right: -3.7em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color:#fff;
    display: block;
    padding: .6em 3.5em;
    position: fixed;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: lightblue;
}

pre{
    max-height: 300px;
    overflow-y: auto;
    padding: 5px;
}

dl.srkdl dt{margin:0 .4em; padding:.4em 0; float:left; text-align:right; clear:left; width:20%; color:#aaa;}
dl.srkdl dd{margin:0 .4em; padding:.4em 0; float:left; width:66%;}
dl.srkdl dd.double{width:66%;}
dl.srkdl dd.hint{margin:.4em .4em .4em 23.2em; padding:.4em; float:left; clear:left; border:1px solid #000; background:#CCDAFF;}
dl.srkdl dd.stack{margin:.4em .4em .4em .4em; padding:.4em; float:left; clear:left;}
dl.srkdl dt label{display:inline-block;}
dl.srkdl dt label.required{color:#337799;}
dl.srkdl dt label.optional{color:#4d6f80;}
dl.srkdl dt label:after{content:': ';}
dl.srkdl dt label.noafter:after{content:'';}

.clear{
    clear:both;
}
